*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.image{
    height: 15px;
    width: 50px;
    margin-top: 5px;
    margin-left: 8px;
    max-width: 100px;
    
 

}
nav{
   
    display: flex;
    /* background-color: blue; */
    padding: 18px 25px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
   


}